//////////////////INDEX 2////////////////////////////

// body
// 	background-color orange
// 	font-size 16px
// 	font-family Arial
// 	padding 0 0 0 0
// header
// 	background lightblue 
// 	border 1px solid red
// 	color white
// 	overflow hidden
// 	padding 1em
// 	h1
// 		font-size 1.5em
// 		font-weight normal
// 		margin 0 0 0 0.5em
// 		float left
// 		// display block
// 	#logo
// 		img
// 			width 125px
// 			border-radius 80px
// 			float left
// nav
// 	background darkred
// 	text-align center
// 	padding 1em
// 	li
// 		display inline
// 		margin 0 1em
// section
// 	font-size 0
// .item 
// 	background #b2dbbb
// 	display inline-block
// 	font-size 1em
// 	margin 0.5%
// 	overflow hidden
// 	width 49%
// .figure_item
// 	float left
// footer
// 	border 2px solid black
// 	background darkblue
// 	color white
// 	padding 1em
// 	text-align center
	
// /////////////////////INDEX-2///////////////////////////	

h1
	color red